body {
    font-family: Arial, Helvetica, sans-serif !important;
}

#header {
    background-color: #1d84c3 !important;
    background-image: -webkit-linear-gradient(top,#084a73 0%,#04151f 100%) !important;
    background-image: linear-gradient(to bottom,#084a73 0%,#04151f 100%) !important;
}

.site-branding__logo img {
    border-radius: 40%;
    border: 1px solid black;
    box-shadow: 4px 4px 8px black;
}
#content {
    max-width: 80%;
    margin: 0 10%;
    background-color: #d9e5f1;
    background-image: linear-gradient(to right,#a3cce6 0%, #d9e5f1 20%, #d9e5f1 80%, #a3cce6 100%) !important;
    border-radius: 15px;
    box-shadow: 2px 2px 8px grey;
}
.page-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 11px;
    border-radius: 11px;
    box-shadow: 2px 2px 4px #a9acaf;
    background-color: #c4d8ea;
}
.node--view-mode-teaser {
    padding: 0 22% 15px !important;
}
#main-navi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #5499c5;
    color: #fff;
    text-align: center;
    padding: 2px 4px;
    border-radius: 6px;

    /* Position the text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext a {
    color: white;
    border: none;
}

  /* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #5499c5 transparent transparent transparent;
}

  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

.node-readmore {
    background-color: #63a3cc;
    margin: 2px 5px;
    padding: 4px 10px !important;
    border-radius: 6px;
    box-shadow: 1px 1px 3px grey;
}
.node-readmore a {
    color: white;
    border: none;
}
.comment-add {
    background-color: #63a3cc;
    margin: 2px 5px;
    padding: 4px 10px !important;
    border-radius: 6px;
    box-shadow: 1px 1px 3px grey;
}
.comment-add a {
    color: white;
    border: none;
}

.field__label, .field__item {
    font-size: medium;
    font-weight: 600;
}